.link {
    stroke: #777;
    stroke-width: 2px;
    position: relative;
    z-index: 0;
}

g {
    position: relative;
    z-index: 2;
}
g.node {
    pointer-events: none;
    font: 10px sans-serif;
}


div.sidebar {
    position: absolute;
    padding: 45px;
    top: 0px;
    left: 800px;
}