line {
    stroke: #777;
    stroke-width: 1px;
}


.node {
    pointer-events: none;
    fill: white;
    font: 10px sans-serif;
}


div.sidebar {
    position: absolute;
    padding: 45px;
    top: 0px;
    left: 800px;
}